# Types

- **Mutable**: Lists, Sets, Dicts. Can be modified when [passing by reference](#passing-as-reference);
- **Immutable**: Strings, Numbers.

# Number types

In [1]:
num1 = 1         # Integer
num2 = 1.0       # Floating point number

# Can perform basic arithmethic with each

In [2]:
1 + 1

2

In [3]:
1 * 3

3

In [4]:
1 / 2             # Converts to FP

0.5

In [5]:
5 % 2             # Module

1

In [6]:
2 ** 4            # 2 to the power of 4

16

In [7]:
2 + 3 * 5 + 5     # Follows the order of operations, you can use parenthesis

22

## Variables

In [8]:
var = 2           # Assigns an object type of number to variable of name "var"
                  # Variables shouldn't start with numbers or special symbols: 12var, $var etc
                  # Prefer to use variables in lowercase with underscore separating words: name_of_var
var

2

In [9]:
x = 2
y = 3
x + y

5

In [10]:
x = x + x          # Reassigning
x

4

# Strings

In [11]:
'single quote'

'single quote'

In [12]:
"double quote"

'double quote'

In [13]:
"Wrapping single 'quotes' inside double"

"Wrapping single 'quotes' inside double"

In [14]:
'Wrapping double "quotes" inside single'

'Wrapping double "quotes" inside single'

In [15]:
x = 'hello'

In [16]:
x               # Prints full variable, including quotes

'hello'

In [17]:
print(x)        # Prints actual value of string, no quotes

hello

In [18]:
num = 12
name = 'Pootis'

In [19]:
'My number is {} and my name is {}'.format(num, name) # Pass variable names in the order that you want to fill the brackets

'My number is 12 and my name is Pootis'

In [20]:
'My number is {one} and my name is {two}. Again: {one}'.format(one=num,two=name)
# No need to worry about order and can reuse variables

'My number is 12 and my name is Pootis. Again: 12'

In [21]:
'concatenate strings with' + ' a sum operation!'

'concatenate strings with a sum operation!'

## Indexing strings

In [22]:
s = 'abcdefgh'        # s is a sequence of elements, each element is a letter

In [23]:
s[1]               # indexing starts at 0

'b'

In [24]:
# s[10] # index out of range

In [25]:
s[-2]

'g'

In [26]:
s[1:3]               # Slice syntax, AKA colon notation. Start at index 1, up to (but not including) index 3

'bc'

In [27]:
s[:3]                # Everything up to (but not including) index 3

'abc'

## Useful methods

In [28]:
s = 'hello my name is Pootis'

In [29]:
s.lower() # press tab after the dot to view all methods in jupyter

'hello my name is pootis'

In [30]:
s.split() # splits on whitespaces

['hello', 'my', 'name', 'is', 'Pootis']

In [31]:
s.split("m") #splits on given string"

['hello ', 'y na', 'e is Pootis']

In [1]:
"batata".replace('a', 'b')

'bbtbtb'

In [4]:
"".join(reversed("batata"))

'atatab'

In [5]:
len("batata")

6

# Lists

In [32]:
# Lists are sequence of elements in a set of square brackets separated by commas
[1,2,3]

[1, 2, 3]

In [33]:
# Takes any data type
['a','b',3]

['a', 'b', 3]

In [34]:
my_list = ['a', 'b', 'c']

In [35]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [36]:
# Lists are sequence, just like strings
my_list[3]

'd'

In [37]:
# Reassigning positions
my_list = 'NEW'
my_list

'NEW'

In [38]:
# Nesting lists inside another
nest = [1,2,[3,4]]
nest

[1, 2, [3, 4]]

In [39]:
nest[2]

[3, 4]

In [40]:
nest[2][1]

4

In [41]:
nest2 = [1,2,3,[4,5,['target']]]

In [42]:
nest2[3][2][0]

'target'

## Useful Methods

In [43]:
lst = [1,2,3]
lst.pop()

3

In [44]:
lst

[1, 2]

In [ ]:
lst = [1,2,3,4]
lst.pop(1) # Returns the value

2

In [46]:
lst

[1, 3, 4]

In [6]:
lst = [1,2,3,4]
lst.index(3)

2

In [7]:
lst = [1,2,3,4]
lst.insert(2, 10)
lst

[1, 2, 10, 3, 4]

In [ ]:
lst = [1,2,3,4]
lst.remove(2) # Remove first ocurrence of mentioned element

# Dictionaries

In [ ]:
d1 = {'key1': 'value', 'key2': 123}   
# Behaves like a hashtable
# Holds elements thru key-value pairs

d1['key1']   # Returns value associated with key

'value'

In [48]:
# Keys can be any hashable data type (even floating numbers!)
    # Keys cant be lists or dictionaries
d2 = {1.2: 'abcde'}
d2[1.2]

'abcde'

In [50]:
# Exception if key doesn't exist
# d1['unexistingkey']

In [51]:
# Values can be anything, even lists or dicts
d2 = { 'k1': [1,2,3]}
d2['k1'][1]

2

In [29]:
d3 = {} # Empty dict
d3[0] = "python" # adding elements
print(d3)

d3[0] = "reassign"
print(d3)

{0: 'python'}
{0: 'reassign'}

In [32]:
d4 = {1:'a',2:'b',3:'c',4:'d'} 
print(d4)

del d4[1] # deleting keys
print(d4)

d4.clear() # emptying dictionary
print(d4)

del d4 # deleting whole object
# print(d4) # error

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{2: 'b', 3: 'c', 4: 'd'}
{}

In [33]:
mylist=[1,7,5,6,4,5,2]
mylist.remove(2)
print(sum(mylist))

28

## Useful methods

In [52]:
d = {'k1': 1, 'k2': 2}

In [53]:
list(d.keys())

['k1', 'k2']

In [54]:
list(d.values())

[1, 2]

In [55]:
list(d.items())

[('k1', 1), ('k2', 2)]

# Booleans

In [56]:
var1 = True
var2 = False

# Tuples

In [57]:
# Tuple
t = (1,2,3)
t[1]

2

In [58]:
# Lists can be reassigned or be added new data, tuples are immutable
list1 = [1,2,3]
print(list1[1])
list1[1] = 4
print(list1[1])

2
4

In [59]:
tup1 = (1,2,3)
# tup1[1] = 2 # tuples cannot be reassigned!

In [13]:
# But you can concatenate tuples:
(1, 2) + (3, 4)

(1, 2, 3, 4)

In [15]:
# You can access them as lists:
tup1 = (1,2,3,4)
print(tup1[1])
print(tup1[1:3])

2
(2, 3)

## Tuple Unpacking

In [60]:
x = [(1,2),(3,4),(5,6)] # this is really common

In [61]:
x[0]

(1, 2)

In [62]:
for a, b in x:
    print(a)

1
3
5

# Sets

In [63]:
var = {1, 1, 1, 2, 3} # Collection of unique elements

In [16]:
set() # Creates empty set

set()

In [64]:
var.add(4)
var

{1, 2, 3, 4}

In [18]:
arr = [1,2,2,3] 
coolset = set(arr) # convert to set

In [22]:
coolset.update([5,6,7]) # Add new numbers to set
# coolset.add([4,5,6]) # If you add it like this it'll just try add a list
coolset

{1, 2, 3, 5, 6, 7}

In [23]:
# you can't access items in a set via the index, but you can always loop in the set:
a = {0,2,4,6,8}
for i in a:
    print (i)

0
2
4
6
8

In [34]:
# To remove elements, use discard and remove
# Discard doesn't throw errors if item is not available
# Remove throws errors if item is not available

a = {0,2,4,6,8}
a.discard(2)
a.remove(6)
a

{0, 4, 8}

# Comparison operators

In [66]:
1 > 2

False

In [67]:
3 >= 3

True

In [68]:
2 == 4

False

In [69]:
1 != 2

True

In [70]:
'hi' == 'hi' # strings are objects, equality compares content

True

In [71]:
1 < 2 and 3 > 4 or 1 == 1 # order of operations: and comes first

True

# Conditional statements

In [72]:
if False:
    print('yep') # blocks are defined by indentation
elif True:
    print('hell yeah')
elif True:
    print('hell yeahhhhh') # only executes first true function
else:
    print('nah')

hell yeah

# Loops

## While Loop

In [41]:
i = 1

while i < 5:
    print('i is {}'.format(i))
    i += 1
else:
    print('nuh uh') # executes when condition isn't met

i is 1
i is 2
i is 3
i is 4
nuh uh

## For Loop

In [38]:
seq = [1,2,3,4,5]

for item in seq:
    print(item)

1
2
3
4
5

In [39]:
for x in range(5): # range: generator of numerical values. quick way to execute something some ammount of times
    print(x)

0
1
2
3
4

In [35]:
for x in range(1, 10, 2): # having more steps in range
    print(x)

1
3
5
7
9

In [36]:
for x in range(5): # else statement executes after loop ends
    print(x)
else:
    print("finished")

0
1
2
3
4
finished

## Break, Continue, Pass

Used for Loop Control.

In [42]:
for char in "Python":
    if(char == 'o'): break
    print(char)

P
y
t
h

In [43]:
for char in "Python":
    if(char == 'o'): continue
    print(char)

P
y
t
h
n

In [46]:
for char in "Python":
    pass # null statement that acts as a placeholder. Interpreter performs a no-op.

print(char)

n

In [49]:
for num in range(2,-7,-1):
    print(num, end=', ')

2, 1, 0, -1, -2, -3, -4, -5, -6,

# List Comprehension

In [77]:
x = [1,2,3,4]
out = []

for num in x:
    out.append(num**2) 

out

[1, 4, 9, 16]

In [78]:
# The operation of making a list out of another list is so common in python that it developed list comprehension:
y = [1,2,3,4]
out = [num**2 for num in y] 
out

[1, 4, 9, 16]

In [81]:
# You can also use list comprehension to filter specific items with if/else ternary
y = [1,2,3,4]
out = [num for num in y if num % 2 == 0] 
out

[2, 4]

# Functions

In [82]:
def my_func(name): # start with lowercase letters
    print('Hello ' + name)

my_func('Jose')

Hello Jose

In [83]:
def my_func_default(name='Default name'):
    print('Hello ' + name)

my_func_default()

Hello Default name

In [84]:
my_func_default # doesnt execute function, just a default output

In [85]:
def square(num):
    """
    This is a documentation string!
    can go multiple lines :D
    """
    return num ** 2

print(square(2))

4

## Passing as Reference

- All types in python are passed as reference. But some are not mutable, like numbers or strings, so we cannot change their content;
- [Cool Explanation](https://stackoverflow.com/questions/986006/how-do-i-pass-a-variable-by-reference).

In [55]:
# Cannot change the content of a number inside of a function.

def modifynum(num):
    num = num * 2

num1 = 3
modifynum(num1)
print(num1)

3

In [56]:
# We can change lists tho!

def modifylist(list):
    list.append(30)

list1 = [10, 20]
modifylist(list1)
print(list1)

[10, 20, 30]

In [86]:
square # Press shift-tab in jupyter notebook to bring up the documentation string

## Arguments

In [61]:
# Default Arguments
def f1(a,b=7): 
    print(a, b)

f1(10)
f1(1,2)

10 7
1 2

In [ ]:
# Named Arguments: You can change the order of passing arguments, values are assigned based on name.
def f1(a,b): 
    print(a, b)

f1(a=4, b=3)
f1(b=3, a=4)

4 3
4 3

In [64]:
# Arbitrary keyword: variable number of keyword arguments
# Argument stored in dictionary format

def func(**var):
    print(var)

func(firstname = "bebe", lastname = "awa")

{'firstname': 'bebe', 'lastname': 'awa'}

In [65]:
# Required Arguments: If not passed, will throw an error. Values are assigned based on position.

def func(a,b):
    if(a>b): return a
    return b

func('a', 'b')

'b'

In [ ]:
# Variable-length Arguments: Number of arguments is more than the defined function arguments

def func(a, *b):
    print(a)
    
    for i in b:
        print(i)

func('a', 'b', 'c')

a
b
c

## Scope

- Scope: portion of the program where a variable is recognized
- Local: access within the method or block (function variables are local)
- Global: defined outside of functions or blocks, accessed throughout the lifetime of the program
- Lifetime: period in which the variable exists in-memory

In [70]:
def f1():
    x = 10
    print('inside func', x)
x = 20
f1()
print('outside func', x)

inside func 10
outside func 20

# Lambda Expressions / Functions

- Anonymous functions, defined using the lambda.
- Cannot contain multiple expressions, return only one value.

In [72]:
def add(a,b):
    return a + b
add(1,2)

3

In [71]:
add = lambda a,b:a+b
add(1,2)

3

## Lambda with Map

In [ ]:
# map() is used to apply a given function to every item of an iterable,
# such as a list or tuple, and returns a map object (which is an iterator).

list1 = [8,7,1,2,9,7]
list2 = list(map(lambda a: a*3, list1))
list2

[24, 21, 3, 6, 27, 21]

In [77]:
def times2(var):
    return var*2

seq = [1,2,3,4,5]

map(times2, seq)

In [78]:
# To execute the map and cast the result as a list:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [89]:
# Use lambda expressions (anonymous functions) to make it slicker
t = lambda var:var * 3
t(3)

9

In [90]:
# we dont normally assign it to anything, we just use it directly:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

## Lambda with Filter

In [79]:
# Filter returns iterator where items are filtered through a function

fibonacci = [0,1,1,2,3,5,8,13,21,34]
even = list(filter(lambda x: x % 2 == 0, fibonacci))
even

[0, 2, 8, 34]

In [91]:
seq = [1,2,3,4,5,6,7,8,9]
list(filter(lambda num: num%3, seq)) # 0 evaluated as false

[1, 2, 4, 5, 7, 8]

## Lambda with Reduce

In [80]:
# Reduce applies a particular function to all list elements

import functools
functools.reduce(lambda x, y: x + y, [26, 71, 67, 33])

197

# Other stuff

## Decorators
- Function that takes a function as argument, and returns a function;
- Called before the definition of a function;

In [81]:
def outer(func):
    def inner():
        print("hello welcome to ")
        func()

    return inner


@outer
def name():
    print("ohio!")

name()

hello welcome to
ohio!

## Closure
- Inner function is enclosed within the outer function;
- Can access variable present in the outer function scope.

In [84]:
def outer(text):
    def inner():
        print(text) # Can access the variable text
    inner()

outer("heyo!")

heyo!

## Generators
- Returns a traversal object;
- Traverse all the items at once!
- Also used to create iterators;
- Syntax is similar to list comprehension;
- Requires at least one 'yield' object.

In [87]:
def my_generator(n):
    yield n

my_generator(4)

In [88]:
def my_generator(n):
    yield n

for i in my_generator(4):
    print(i)

4

In [ ]:
def my_generator(n):
    for i in range(1, n, 2): # Creates an iterator with range
        yield i**2 

for i in my_generator(10):
    print(i)

1
9
25
49
81

## Iterators
- Iterate over iterable objects by returning one object at a time;
- Initialized with iter()
- Used next() for iteration

In [90]:
myvalue = ('a', 'b', 'c')
myiter = iter(myvalue)

print(next(myiter))
print(next(myiter))
print(next(myiter))

a
b
c

### Generators X Iterators

| Generator | Iterator |
|-----------|----------|
| Implemented using function | Implemented using class|
| Uses yield keyword | uses iter and next functions |
| Used in loops to generate iterator by returning all values in loop | Iterator or convert other objects into iterators |
| All the local variables vefore yield function are stored | Local variables not used |
| Every generator is a iterator | Not every iterator is a generator |
| Less memory-efficient | More memory-efficient |

## Operators

In [93]:
'x' in ['x', 'y', 'z']

True